{% extends 'base.html' %}


{% block title %}
    <title>Search Similar Images</title>
{% endblock %}


{% block additional_script %}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/baguettebox.js/1.11.1/baguetteBox.min.css">
    <style>
        .gallery {
        padding: 40px;
        }

        .gallery img {
        width: 100%;
        border-radius: 0;
        position: relative;
        }

        .hidden_images{
            display: none;
        }
    </style>
    <script>
        window.onload = function() {
          var subjectSel = document.getElementById("annotation");

          for (var x in {{annotated|tojson}}) {
            subjectSel.options[subjectSel.options.length] = new Option(x, x);
          }
        }
    </script>

{% endblock %}


{% block heading %}
    <div class="display-6 newnav" style="height:1.4em;">
        <a style="margin-left:2%; text-align:center;">Extract Data from PDF</a>
        <a href="/" style="float:right; margin-right:2%;"><button class="btn btn-outline-light">Home</button></a>
    </div>
{% endblock %}


{% block data %}
    <div style="margin-left:2%; margin-right:2%;">
	    <br>
        <p style="font-size:1.5em;">Select PDF to extract data</p>
        <hr>
        <form method="post" action="/extract" enctype="multipart/form-data" id="form_loading">
            Select Annotation: <select name="annote" id="annotation">
                                   <option value="" selected="selected">Select Annotated Document</option>
                               </select>
            <br><br>
            <input type="file" name="input_pdfs" multiple="true" autocomplete="off" required>
            <br><br>
            <input type="submit" class="btn btn-dark" value="Upload" />
        </form>
        <pre id="myText"></pre>
        {% if json_data %}
            {{ json_data }}
        {% endif %}
    </div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/baguettebox.js/1.11.1/baguetteBox.min.js"></script>
    <script>
    </script>

{% endblock %}