{% extends 'base.html' %}


{% block title %}
    <title>PDF Annotation</title>
{% endblock %}


{% block heading %}
    <div class="display-6 newnav" style="height:1.4em;">
        <a style="margin-left:2%">Annotate PDF</a>
        <a style="float:right; margin-right:2%" href="{{ url('home') }}"><button class="btn btn-outline-light">Home</button></a>
    </div>
{% endblock %}

{% block additional_script %}
<style>
    html,body{
        height:100%;
    }
</style>
<script>

</script>
{% endblock %}


{% block data %}
    <iframe id="frame" title="frame" width="100%" height="93%" src="http://localhost:8080"></iframe>
{% endblock %}